<section class="vh-100" style="background-color: #fff;">
    <div *ngIf="loginError || loginErrorMessage" class="alert alert-danger mt-3" role="alert">
        {{ loginErrorMessage }}
    </div>


    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="d-flex justify-content-end mx-4 mb-3 mb-lg-4">
                    <a routerLink="/" class="btn btn-secondary btn-sm text-white">
                        Volver
                        <img src="https://cdn3.iconfinder.com/data/icons/basic-user-interface-5/64/Door_enter_entrance_exit_leave_logout_out_-512.png"
                            class="img-fluid" alt="Icono de salida" width="24" style="filter: invert(1);">
                    </a>
                </div>
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Iniciar sesión</p>
                                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="email" id="loginEmail" formControlName="email"
                                                class="form-control" />
                                            <label class="form-label" for="loginEmail">Tu correo electrónico</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <input type="password" id="loginPassword" formControlName="password"
                                                class="form-control" />
                                            <label class="form-label" for="loginPassword">Contraseña</label>
                                        </div>
                                    </div>
                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input class="form-check-input me-2" type="checkbox"
                                            formControlName="rememberMe" id="loginRememberMe" />
                                        <label class="form-check-label" for="loginRememberMe">Recordarme</label>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg btn-rounded">Iniciar
                                            sesión</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center justify-content-end order-1 order-lg-2">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Andalucia.svg/1280px-Andalucia.svg.png"
                                    class="img-fluid" alt="Andalucia" width="80%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>