<article class="town-card">
    <!-- <img [src]="town.townImage" [alt]="town.townName" class="town-card__image" /> -->
    <img src="{{ town.townImage }}" [alt]="town.townName" class="town-card__image" />
    <div class="town-card__content">
        <h2 class="town-card__title">{{ town.townName }}</h2>
        <p class="town-card__description">{{ town.townDescription | slice:0:180 }}...</p>

        <div class="town-card__actions">
            <a [routerLink]="['/town', town.townId]" class="town-card__button">
                <span>Leer más</span>
                <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</article>