.carousel .carousel-item img {
    width: 100%;
    filter: blur(5px) grayscale(50%);
    margin: -5px auto;
}

.carousel .carousel-item h5 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel .carousel-item p {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
}