<section class="about-us-section py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-left">
                <h2 class="mb-4 display-4 font-weight-bold">Sobre Nosotros</h2>
                <p class="lead">
                    <strong>Andalucía Descubre</strong> tiene como propósito fomentar el turismo rural en Andalucía,
                    promoviendo las riquezas culturales, naturales y gastronómicas de nuestra región. Queremos ofrecer a
                    los viajeros experiencias únicas y auténticas, conectándolos con los encantos escondidos de nuestros
                    pueblos y paisajes.
                </p>
                <p class="lead">
                    Nuestro objetivo es revitalizar las áreas rurales, apoyar a los negocios locales y compartir con el
                    mundo la belleza y hospitalidad que Andalucía tiene para ofrecer.
                </p>
            </div>
            <div class="col-lg-6 text-center">
                <div class="video-wrapper">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/28-OppuIyjg"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>