<app-navbar></app-navbar>
<router-outlet></router-outlet>
<main class="ad-about-us">
    <section class="about-us-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6">
                    <h2 class="mb-4 display-4 font-weight-bold">Sobre Nosotros</h2>
                    <p class="lead">
                        <strong>Andalucía Descubre</strong> tiene como propósito fomentar el turismo rural en Andalucía,
                        promoviendo las riquezas culturales, naturales y gastronómicas de nuestra región. Queremos
                        ofrecer a
                        los viajeros experiencias únicas y auténticas, conectándolos con los encantos escondidos de
                        nuestros
                        pueblos y paisajes.
                    </p>
                    <p class="lead">
                        Nuestro objetivo es revitalizar las áreas rurales, apoyar a los negocios locales y compartir con
                        el
                        mundo la belleza y hospitalidad que Andalucía tiene para ofrecer.
                    </p>
                </div>
                <div class="col-lg-6 text-center">
                    <div class="video-wrapper">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/28-OppuIyjg"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="display-5 font-weight-bold">Historia de Andalucía</h3>
                    <p class="lead">
                        Andalucía es una región con una historia rica y variada que se remonta a la época romana y más
                        allá.
                        Con influencias de diversas culturas, incluyendo los romanos, visigodos, musulmanes y
                        cristianos,
                        Andalucía es un crisol de historia y tradiciones.
                    </p>
                    <p class="lead">
                        Desde la majestuosa Alhambra en Granada hasta la Giralda en Sevilla, los monumentos históricos
                        de
                        Andalucía son testimonio de su pasado glorioso. Cada ciudad y pueblo tiene su propia historia
                        única
                        que contar, ofreciendo a los visitantes una visión fascinante del pasado.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="display-5 font-weight-bold">Cultura Andaluza</h3>
                    <p class="lead">
                        La cultura andaluza es vibrante y diversa, conocida por su flamenco apasionado, fiestas
                        coloridas y
                        tradiciones arraigadas. El flamenco, nacido en el corazón de Andalucía, es una expresión
                        artística
                        que combina música, canto y baile de una manera única y emotiva.
                    </p>
                    <p class="lead">
                        Las fiestas populares, como la Feria de Abril en Sevilla y la Semana Santa, atraen a miles de
                        visitantes cada año, ofreciendo una experiencia inolvidable de la cultura y las tradiciones
                        andaluzas.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="display-5 font-weight-bold">Gastronomía Andaluza</h3>
                    <p class="lead">
                        La gastronomía de Andalucía es una delicia para los sentidos, conocida por sus platos
                        tradicionales
                        y sabores auténticos. Desde el gazpacho refrescante hasta las tapas variadas, la cocina andaluza
                        es
                        un reflejo de su tierra y su gente.
                    </p>
                    <p class="lead">
                        Los productos frescos y locales, como el aceite de oliva, el jamón ibérico y los mariscos,
                        juegan un
                        papel fundamental en la cocina andaluza, ofreciendo a los visitantes una experiencia culinaria
                        rica
                        y memorable.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<app-web-footer></app-web-footer>