@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.ad-navbar {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    color: $dark;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;

    .navbar-brand {
        font-size: 1.5rem;

        display: flex;
        align-items: center;
    }

    .ad-navbar_action_bar {
        display: flex;
        align-items: center;

        .btn {
            border-radius: 50px;
            padding-left: 20px;
            padding-right: 20px;

            &.btn-secondary {
                color: #fff;
            }
        }
    }

    .navbar-nav {
        .nav-item {
            padding: 0.5rem;

            a.nav-link {
                padding: 0;
                position: relative;
                text-decoration: none;

                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    border-radius: 1px;
                    background-color: $dark;
                    bottom: 0;
                    left: 0;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform 0.3s ease-in-out;
                }

                &:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }
}

@include media-breakpoint-up(sm) {
    .ad-navbar {
        height: 80px;

        .container-fluid {
            max-width: 1350px;
        }
    }
}
