body {
	background: #eee !important;
	margin: 0;
	/* Reset body margin */
	padding: 0;
	/* Reset body padding */
	height: 100vh;
	/* Full viewport height */
	display: flex;
	justify-content: center;
	/* Center horizontally */
	align-items: center;
	/* Center vertically */
}

.btn-rounded {
	border-radius: 50px;
}

.card {
	border-radius: 25px;
}