html,
body {
	background: #eee !important;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	/* Agregamos esta línea */
	justify-content: center;
	align-items: center;
}

.wrapper {
	flex-grow: 1;
	/* Agregamos esta línea */
}

.btn-rounded {
	border-radius: 50px;
}

.card {
	border-radius: 25px;
}

.text-danger {
	display: block;
	color: #dc3545;
	font-size: 80%;
}

.text-center {
	color: #007932;
}