<section class="vh-100" style="background-color: #eee;">
  <div *ngIf="showConfirmation" class="alert alert-success mt-3" role="alert">
    Su registro ha sido confirmado. Se validarán sus datos y se le contactará por email.
  </div>

  <div class="wrapper">
    <div class="card text-black">
      <div class="card-body p-md-5">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrarse</p>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="text" id="form3Example1c" formControlName="name" class="form-control" />
                  <label class="form-label" for="form3Example1c">Tu nombre</label>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="email" id="form3Example3c" formControlName="email" class="form-control" />
                  <label class="form-label" for="form3Example3c">Tu correo electrónico</label>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password" id="form3Example4c" formControlName="password" class="form-control" />
                  <label class="form-label" for="form3Example4c">Contraseña</label>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="password" id="form3Example4cd" formControlName="confirmPassword" class="form-control" />
                  <label class="form-label" for="form3Example4cd">Repite tu contraseña</label>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-city fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <input type="text" id="form3Example5c" formControlName="townName" class="form-control" />
                  <label class="form-label" for="form3Example5c">Nombre del Pueblo</label>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                  <select id="form3Example6c" formControlName="townProvince" class="form-control">
                    <option *ngFor="let community of communities" [value]="community">{{ community }}</option>
                  </select>
                  <label class="form-label" for="form3Example6c">Provincia</label>
                </div>
              </div>
              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" formControlName="terms" id="form2Example3c" />
                <label class="form-check-label" for="form2Example3">
                  Acepto los <a href="#!">términos y condiciones</a> de Andalucía Descubre
                </label>
              </div>
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-primary btn-lg btn-rounded">Registrarse</button>
              </div>
              <div class="tt-form-group">
                <label>Captcha <span class="required">*</span></label>
                <re-captcha (resolved)="resolved($event)"
                  siteKey="6LfzFN0pAAAAAEulcAQhwCnZbYds8P9dnkKmBCB5"></re-captcha>
              </div>
            </form>
          </div>
          <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
              class="img-fluid" alt="Sample image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>