@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Roboto+Condensed&display=swap');


#header-video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}