.footer-container {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
    color: #777;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
}

.footer-logo {
    width: 400px;
    margin-top: 20px;
}

.unsubscribe-link {
    color: #777;
}