<div class="footer-container">
    <p>Síguenos en nuestras redes sociales:</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/AndaluciaJunta/?locale=es_ES">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Facebook_logo_%28square%29.png"
                alt="Facebook">
        </a>
        <a href="https://x.com/AndaluciaJunta">
            <img src="https://img.freepik.com/vector-premium/nuevo-vector-logotipo-twitter-x-vector-signo-twitter-x_952796-6.jpg"
                alt="Twitter">
        </a>
        <a href="https://www.instagram.com/andaluciajunta/">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png"
                alt="Instagram">
        </a>
    </div>
    <img class="footer-logo"
        src="https://csirc.ugr.es/sites/centros/csirc/public/inline-images/Logo-junta-andalucia-europa-pie-pagina-1024x341-1_0.png"
        alt="Andalucía Descubre footer">
    <p>&copy; 2024 Andalucía Descubre. Todos los derechos reservados.</p>
</div>